<div class="footer-container font-poppins pt-5">
  <div class="d-flex images gap-1">
    <a> <img src="assets/images/Vector (14).png" /></a>
    <a><img src="assets/images/Vector (15).png" /></a>
    <a> <img src="assets/images/Frame (2).png" /></a>
  </div>

  <div class="link-width pt-4">
    <p class="m-0 font-13">Resources</p>
    <div class="row pt-2">
      <div class="col">
        <ul class="list-unstyled font-13">
          <li><a> Creator Support</a></li>
          <li><a> Published On Epic</a></li>
          <li><a> Profession</a></li>
          <li><a> Company</a></li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-unstyled font-13">
          <li><a> Fan work </a></li>
          <li><a> User Exp Service</a></li>
          <li><a> User Liscence</a></li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-unstyled font-13">
          <li><a> Battle Breakers</a></li>
          <li><a> Community</a></li>
          <li><a> Infinity Blade</a></li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-unstyled font-13">
          <li><a> Battle Breakers</a></li>
          <li><a> Fortnite</a></li>
          <li><a> Infinity Blade</a></li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-unstyled font-13">
          <li><a> Robo Recall</a></li>
          <li><a> Shadow Complex</a></li>
          <li><a> Unreal Tournament</a></li>
        </ul>
      </div>
    </div>

    <div class="p pt-5">
      <p class="font-14px">
        © 2022, Epic Games, Inc. All rights reserved. Epic, Epic Games, Epic
        Games logo, Fortnite, Fortnite logo, Unreal, Unreal Engine, Unreal
        Engine logo, Unreal Tournament ) and the Unreal Tournament logo are
        trademarks or registered trademarks of Epic Games, Inc. in the United
        States of America and elsewhere. Other brand or product names are
        trademarks of their respective owners. Transactions outside the United
        States are handled through Epic Games International, S.à r.l..
      </p>
    </div>

    <div class="d-flex gap-5 terms-color font-poppins pt-4">
      <p>Terms of Service</p>
      <p>Privacy policy</p>
      <p>Store Refund Policy</p>
    </div>
  </div>
</div>
