
<div class="main-container pt">
    <div class="child-container">

        <div class="row">
            <div class="col-12 col-md-4 product-card">
                <img src="assets/images/Frame 45.png" class="img-fluid" />
        <p class="movie-font-color m-0 pt-3">NFS UNBOUND</p>
        <p class="font-14 pt-2">
          Pre-purchase NFS Unbound and get an exclusive Driving Effect, License
          Plate, $150,000 Bank, and more view more.
        </p>
        <p>₹3,499</p>
      </div>
      <div class="col-12 col-md-4 product-card">
        <img src="assets/images/Frame 46.png" class="img-fluid" />
        <p class="movie-font-color m-0 pt-3">FIFA 23</p>
        <p class="font-14 pt-2">
          FIFA 23 brings The World’s Game to the pitch, with HyperMotion2
          Technology, men’s and women’s FIFA World Cup
        </p>
        <p>₹3,699</p>
      </div>
      <div class="col-12 col-md-4 product-card">
        <img src="assets/images/Frame 47.png" class="img-fluid" />
        <p class="movie-font-color m-0 pt-3">UNCHARTED 4</p>
        <p class="font-14 pt-2">
          Get the definitive Uncharterd 4 experience with all Season Pass
          content, the Ultimate Pack, and upcoming expansion.
        </p>
        <p>₹1,499</p>
      </div>
    </div>
  </div>

            </div>