<div class="main-container padding ">
    <div class="child-container">
        <div class="row align-items-center font-poppins">
            <div class="col-md-6 col-sm-12">
                <img src="assets/images/Frame 221.png" />
            </div>

            <div class="col-md-6 col-sm-12 pt-sm-4 pt-sm-30">
                <h4>Explore our Catalog</h4>
                <p class="pt-3"> Browse by genre, features, price, and more to find your next favorite game. </p>
            </div>
        </div>
    </div>
</div>