<div class="main-container-grp-4 bg-color font-poppins pt-5">
    <div class="child-container-grp-4">
      <div class="d-flex justify-content-between align-items-center">
        <div class="free-game d-flex align-items-center gap-3">
          <img src="assets/images/Vector (13).png" />
          <p class="m-0">Free Games</p>
        </div>
        <div class="game-button">
          <button type="button" class="game-btn">View More</button>
        </div>
      </div>
      <div class="row pt-5">
        <div class="col col-md-6 col-lg-3 mb-4 col-sm-6">
          <img src="assets/images/Rectangle 15.png" />
          <p class="m-0 pt-3">Darkwood</p>
          <p class="font-14 pt-2">Free Now - Jul 25</p>
        </div>
        <div class="col col-md-6 col-lg-3 mb-4 col-sm-6">
          <img src="assets/images/Rectangle 16.png" />
          <p class="m-0 pt-3 fs-14px">Assassin’s Creed Black Flag</p>
          <p class="font-14 pt-2">Free Now - Jul 25</p>
        </div>
        <div class="col col-md-6 col-lg-3 mb-4 col-sm-6">
          <img src="assets/images/Rectangle 17 (1).png" />
          <p class="m-0 pt-3">NFS : Shift</p>
          <p class="font-14 pt-2">Free Now - Jul 25</p>
        </div>
        <div class="col col-md-6 col-lg-3 mb-4 col-sm-6">
          <img src="assets/images/Rectangle 18 (1).png" />
          <p class="m-0 pt-3">NFS : Shift</p>
          <p class="font-14 pt-2">Free Now - Jul 25</p>
        </div>
      </div>
    </div>
  </div>
  